<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Juego</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Bienvenido al Juego de Batalla Naval</h1>
    <h2>Selecciona los jugadores para comenzar</h2>
    <form action="{{ url_for('start_game') }}" method="POST">
        <label for="player1_id">Jugador 1:</label>
        <select name="player1_id" id="player1_id" required>
            {% for player in players %}
                <option value="{{ player.id }}">{{ player.nombre }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="player2_id">Jugador 2:</label>
        <select name="player2_id" id="player2_id" required>
            {% for player in players %}
                <option value="{{ player.id }}">{{ player.nombre }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Iniciar Juego</button>
    </form>
</body>
</html>
